.cursor-pointer {
    cursor: pointer;
}
.top-0 {
    top: 0;
}
.bottom-0 {
    bottom: 0;
}
.left-0 {
    left: 0;
}
.right-0 {
    right: 0;
}
.high-z-index {
    z-index: 999;
}
.low-z-index {
    z-index: -1;
}
.z-index {
    z-index: 1;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 10;
}
.text-underline {
    text-decoration: underline !important;
}
.position-absolute {
    position: absolute;
}
.position-fixed {
    position: fixed;
}
.position-relative {
    position: relative;
}
.absolute-center {
    left: 50%;
    transform: translate(-50%, 0);
}

.text--size-100 {
    font-size: 100px !important;
}
.text--size-90 {
    font-size: 90px !important;
}
.text--size-80 {
    font-size: 80px !important;
}
.text--size-70 {
    font-size: 70px !important;
}
.text--size-60 {
    font-size: 60px !important;
}
.text--size-50 {
    font-size: 50px !important;
}
.text--size-40 {
    font-size: 40px !important;
}
.text--size-35 {
    font-size: 35px !important;
}
.text--size-30 {
    font-size: 30px !important;
}
.text--size-25 {
    font-size: 25px !important;
}
.text--size-20 {
    font-size: 20px !important;
}
.text--size-18 {
    font-size: 18px !important;
}
.text--size-15 {
    font-size: 15px !important;
}
.text--size-12 {
    font-size: 12px !important;
}
.text--size-10 {
    font-size: 10px !important;
}

.font-weight-light {
    font-weight: 300 !important;
}
.font-weight-bolder {
    font-weight: 800 !important;
}

.rounded-50 {
    border-radius: 0.5rem !important;
}
.rounded-50px {
    border-radius: 50px !important;
}
.rounded-20px {
    border-radius: 25px !important;
}
.rounded-20px {
    border-radius: 20px !important;
}

.w-5 {
    width: 5%;
}
.w-10 {
    width: 10%;
}
.w-20 {
    width: 20%;
}
.w-30 {
    width: 30%;
}
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}
.w-70 {
    width: 70%;
}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.shadow-none {
    box-shadow: none;
}


@media (min-width: 780px) {
    .d-mobile {
        display: none !important;
    }

    .d-desktop {
        display: block !important;
    }
}
@media (max-width: 780px) {
    .d-mobile {
        display: block !important;
    }

    .d-desktop {
        display: none !important;
    }
}

/* Content Loader */
.content-loader {
    animation: loader 1.5s infinite ease-in-out;
    -webkit-animation: loader 1.5s infinite ease-in-out;
}
@keyframes loader {
    0% {
        background-color: rgba(165, 165, 165, 0.20);
    }
    50% {
        background-color: rgba(165, 165, 165, 0.40);
    }
    100% {
        background-color: rgba(165, 165, 165, 0.20);
    }
}
@-webkit-keyframes loader {
    0% {
        background-color: rgba(165, 165, 165, 0.20);
    }
    50% {
        background-color: rgba(165, 165, 165, 0.40);
    }
    100% {
        background-color: rgba(165, 165, 165, 0.20);
    }
}

/*pulse animation dot*/
@keyframes shadow-pulse
{
    0% {
        box-shadow: 0 0 0 0 #ccc;
    }
    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}
.pulse-animate {
    animation: shadow-pulse 1s infinite;
}
